<div id="pins">
  <% @pins.each do |pin| %>
    <div class="box">
      <td><%= image_tag pin.image.url(:medium) %></td>
      <%= pin.description %>
      <%= pin.user.email if pin.user %>
      <%= link_to 'Show', pin_path(pin) %>
      <% if pin.user == current_user %>
        <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </div>
  <% end %>
</div>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Pin', new_pin_path %>
<% end %>
